
body {
  font-family: "Updock", cursive !important;
  font-weight: 400 !important;
  font-style: normal;
}

.updock-regular {
  font-family: "Updock", cursive !important;
  font-weight: 400 !important;
  font-style: normal;
}
