@font-face {
  font-family: "Beau Rivage";
  src: url('resources/font/Beau_Rivage/BeauRivage-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Beau Rivage", cursive !important;
  font-weight: 400 !important;
  font-style: normal;
}

.beau-rivage-regular {
  font-family: "Beau Rivage", cursive !important;
  font-weight: 400 !important;
  font-style: normal;
}
